<ul>
{% for product_id, item in cart_data.items %}
<li>
<div class="shopping-cart-img">
<a href="{% url 'core:product-detail' item.pid %}"><img alt="{{ item.title }}" src="{{ item.image }}" /></a>
</div>
<div class="shopping-cart-title">
<h4><a href="{% url 'core:product-detail' item.pid %}" title="{{ item.title }}">{{ item.title|truncatechars:15 }}</a></h4>
<h4><span>{{ item.qty }} × </span>${{ item.price|floatformat:2 }}</h4>
</div>
<div class="shopping-cart-delete">
<a href="javascript:void(0)" class="delete-product" data-type="popup" data-product="{{ product_id }}"><i class="fi-rs-cross-small"></i></a>
</div>
</li>
{% endfor %}

</ul>
<div class="shopping-cart-footer">
<div class="shopping-cart-total">
<h4>Total <span>${{ cart_total_amount|floatformat:2 }}</span></h4>
</div>
<div class="shopping-cart-button">
<a href="{% url 'core:cart' %}" class="outline">View cart</a>
<a href="{% url 'core:checkout' %}">Checkout</a>
</div>
</div>
